body {
  font-family: "Inter", sans-serif;
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-2 block bg-white;
}

#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  display: none;
}
nav.open {
  @apply block absolute top-[100%] left-0 bg-black w-[100%] z-50;
}
@media (min-width: 900px) {
  header {
    padding-top: 2vw;
  }
  button {
    display: none;
  }
  nav {
    display: block;
    position: relative;
  }
  ul {
    margin: 0;
    flex-direction: row;
    gap: 2vw;
  }
}

.pro_img .box {
  width: 100%;
  height: 100%;
  background-position: top;
  transition: ease-in-out 6s;
}
.pro_img .box.box-1 {
  background: url(/images/ss-ecommerce.png);
  background-size: cover;
}
.pro_img .box.box-2 {
  background: url(/images/ss-restaurant.png);
  background-size: cover;
}
.pro_img .box.box-3 {
  background: url(/images/ss-furniture.png);
  background-size: cover;
}
.pro_img .box.box-4 {
  background: url(/images/ss-property.png);
  background-size: cover;
}
.pro_img .box:hover {
  background-position: bottom;
}

.hero-img {
  background: url(/images/pic-profile.png);
}
